.card {
    perspective: 1000px;
    width: 30%;
    margin-bottom: 1rem;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-flip {
    transform: rotateY(360deg);
}
